<p>test-forms works!</p>
<div [formGroup]="form">
  text1: <input type="text" [formControl]="form.c.text1" />
  <br />
  <!-- num1: <input type="text" [formControl]="form.c.num1" [numberConverter]="'1.2-2'" /> -->
  num2: <input type="number" [formControl]="form.c.num1" />
  <br />
  date1:
  <input type="text" [formControl]="form.c.date1" [dateConverter]="'DD/MM/YYYY HH:mm'" />
  <br />
  <select placeholder="Selezionare un valore" placeholderValue="." (change)="selectChanged($event)">
    <option value="a">value a</option>
    <option value="b">value b</option>
  </select>
  {{selectSelectedValue}}

  <div [formGroup]="form.c.obj1">
    obj1.innerNum:
    <input type="number" [formControl]="form.c.obj1.c.innerNum" />
  </div>

  <app-sub-form [formControl]="form.c.subObj" (ngModelChange)="logSubObj()"></app-sub-form>

  <div *ngFor="let item of form.c.arrText1.c; let i = index">
    Array {{ i }} <input type="string" [formControl]="form.c.arrText1.at(i)" />
  </div>
</div>

<button (click)="log()">log</button>
<button (click)="form.c.num1.setValue(form.c.obj1.c.innerNum.value)">
  setvalue
</button>
<button (click)="setDate()">setDate</button>
