<p>test-forms works!</p>
<div [formGroup]="form">
  text1: <input type="text" [formControl]="form.c.text1" />
  <br />
  num1: <input type="text" [formControl]="form.c.num1" />
  <bR />
  date1:
  <input
    type="text"
    [formControl]="form.c.date1"
    [dateConverter]="'DD/MM/YYYY HH:mm'"
  />

  <div [formGroup]="form.c.obj1">
    obj1.innerNum:
    <input type="number" [formControl]="form.c.obj1.c.innerNum" />
  </div>

  <div *ngFor="let item of form.c.arrText1.c; let i = index">
    Array {{ i }} <input type="string" [formControl]="form.c.arrText1.at(i)" />
  </div>
</div>

<button (click)="log()">log</button>
<button (click)="form.c.num1.setValue(form.c.obj1.c.innerNum.value)">
  setvalue
</button>
<button (click)="setDate()">setDate</button>
